/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"); */
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-primary: #ff7600;
  --color-secondary: #194755;
  --color-mint_green: #009f8e;
  --color-light_beige: #f8f7f0;
  /* --font-poppins: "Poppins", sans-serif; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
}

.custom-pagination .swiper-pagination-bullet {
  @apply h-4 w-4 rounded-full bg-white/70 opacity-100 transition-all;
}

.custom-pagination .swiper-pagination-bullet-active {
  @apply scale-150 bg-white;
}
